
<div ng-hide="showIt">
<button ng-click="showIt = true" >Add New Tracker</button> <br>
</div>


<div ng-show="showIt">

<h1>New Tracker</h1>

<form ng-submit="addTracker()">
<input ng-model="newTrackerName" focus-on>


<input type="submit" value="Add Tracker">
<button type="button" ng-click="closeAddTrackerBox()">Cancel</button>

</form>

</div>






<input type="checkbox" ng-model="showRemove"><span>Remove Tracker</span>
<br>


<hr>

<ul>
<li ng-repeat="tracker in trackers" >
    
    <span ng-click="toggletrackerdialog(tracker)">
    
    <span ng-hide="tracker.trackerdialog" >{{tracker.name}}</span>
    
    <div ng-show="tracker.trackerdialog">        
        <span ng-click="addEvent(tracker)">Track It!: {{tracker.eventTimes}}</span>
        <span ng-click="">Cancel</span>
            <span ng-click="removeLastEvent(tracker)">undo last</span> 

    </div>

    <span ng-show="showRemove" class="remove-tracker" ng-click="removeTracker(tracker)">-</span>
    

    
    </span>
    



</li>
</ul>